# Environment
NODE_ENV=production
DEBUG=true

# DB
DATABASE_NAME=localdb

# MCP Server Configuration
MCP_COPILOT_SERVER_TOKEN=your-secure-token-here
MCP_BASE_URL=your-mcp-base-url

# API Tokens
AZION_TOKEN=your-azion-api-token
OPENAI_API_KEY=your-openai-api-key

# Azion Configuration
API_ORIGIN_URL=your-api-origin-base-url
SSO_ORIGIN_URL=your-sso-origin-url

# Edge AI Configuration
EDGE_AI_URL=your-edge-ai-endpoint-url
EDGE_AI_TOKEN=your-edge-ai-token